  /* Custom properties */
  :root{
    --orange: #FF6900;
    --white: #FFFFFF;
    --black: #000000;
    --red: #FF0000;
    --green: #008000;
    --dark-blue: #1A1A1A;
  }
  
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generics */
  body {
    font-family: sans-serif;
    padding-top: 110px;
  }
  
  /* Utils */
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  header{
    background-color: var(--orange);
    color: var(--white);
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    box-shadow: 0 0 5px var(--black);
  }

  main{
    background-color: var(--white);
  }

  footer{
    background-color: var(--dark-blue);
    height: 130px;
    color: var(--white);
    padding: 20px;
    display: flex;
  }

  ul{
    list-style-type: none;
    display: flex;
  }

  li{
    padding: 5px;
  }

  .bg-red{
    background-color: var(--red);
  }

  .bg-green{
    background-color: var(--green);
  }

  /* Navbar */
  .navbar{
    height: 80px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar > *{
    flex-basis: 20%;
  }

  .navbar-logo{
    flex-grow: 1;
    text-align: center;
  }

  .navbar-logo > img{
    height: 20px;
    cursor: pointer;
  }

  .navbar-actions > ul{
    justify-content: flex-end;
  }

  .navbar-actions i{
    cursor: pointer;
  }

  .navbar-gender li:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  /* Main */
  .row{
    display: flex;
    gap: 30px;
  }

  .column{
    flex-basis: calc(100% / 3);
    min-height: 400px;
  }

  .card{
    position: relative;
    cursor: pointer;
  }

  .card > img{
    width: 100%;
  }

  #first-product > img:hover{
    content:url(img/1b.webp);
  }

  #second-product > img:hover{
    content:url(img/2b.webp);
  }
  
  #third-product > img:hover{
    content:url(img/3b.webp);
  }
  
  #fourth-product > img:hover{
    content:url(img/4b.webp);
  }
  
  #fifth-product > img:hover{
    content:url(img/5b.webp);
  }
  
  #sixth-product > img:hover{
    content:url(img/6b.webp);
  }
  
  .discount, .sustainability{
    color: var(--white);
    padding: 5px 10px;
    position: relative;
    left:0;
    bottom: 60px;
  }

  .heart{
    background: var(--white);
    color: var(--black);
    font-size: 15px;
    padding: 1px 6px;
    border-right-color: var(--white);
    position: absolute;
    top: 5px;
    right: 0;
  }

  .heart:hover{
    color: var(--red);
  }
  
  .img-description{
    position: relative;
    bottom: 20px;
  }

  .brand{
    font-size: 15px;
  }  

  .name-product{
    font-weight: bold;
  }

  .discount-price{
    color: var(--red);
    font-weight: bold;
  }

  .real-price{
    text-decoration: line-through;
  }

  #card-empty{
    position: relative;
    bottom: 0px;
  }

  /* Footer */
  .footer-company h3{
    padding: 10px 0;
  }

  .footer-company li{
    padding: 5px 0;
    padding-right: 10px;
  }

  .footer-information{
    display: flex;
    flex-basis: 100%;
    gap: 10px;
  }

  .footer-company{
    height: 100px;
    flex-basis: 50%;
    padding: 10px 0;
  }

  .footer-social{
    height: 100px;
    flex-basis: 50%;
    padding: 15px 0;
    text-align: right;
  }

  .footer-social > h4{
    margin-right: 15px;
    margin-bottom: 5px;
  }

  .social-icons > i{
    font-size: 25px;
    padding: 5px;
    padding-right: 0;
    cursor: pointer;
  }

  .footer-company li:hover{
    text-decoration: underline;
    cursor: pointer;
  }

